/* 
 SECTION "STATS-CONTAINER"
*/

.stats-grid:first-child::before {
    content: "🔥";
    font-family: emoji;
    font-size: 30px;
}

div.stats-grid:last-child {
    color: white;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.stat-number:last-child {
    color: white;
}

/* 
 SECTION "WORKOUT-SECTION"
*/

.workout-plan:hover {
    box-shadow: -5px 0 #F39C12;
    background-color: #FFF8BA;
}

/* 
    EXERCISE SECTION
*/

