/* 
 SECTION "STATS-CONTAINER"
*/

.stats-grid:first-child::before {
    content: "🔥";
    font-family: emoji;
    font-size: 30px;
}

div.stats-grid:last-child {
    color: white;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.stat-number:last-child {
    color: white;
}

/* 
 SECTION "WORKOUT-SECTION"
*/

.workout-plan:hover {
    box-shadow: -5px 0 #F39C12;
    background-color: #FFF8BA;
    transition: all 0.5s ease-out;
}

/* 
    EXERCISE SECTION
*/

.exercise-item:first-child {
    background-color: #F0FFF4;
    border-left: 4px solid #2ECC71;
}

.exercise-item:nth-child(2)::before {
    content: "⚡";
    font-family: emoji;
    font-size: 15px;
}

.exercise-item:last-child {
    background-color: #F0FFF4;
    border-left: 4px solid #2ECC71;
}

.exercise-item:last-child::before {
    content: "⚡";
    font-family: emoji;
    font-size: 15px;
}

/* 
    GOALS-CONTAINER
*/

input[type="number"]:focus {
    border: 2px solid blue;
    box-shadow: 4px 4px rgba(0, 0, 255, 0.3);
    transition: all 0.5s ease-out;
}

select:focus {
    border: 2px solid blue;
    box-shadow: 4px 4px rgba(0, 0, 255, 0.3);
    transition: all 0.5s ease-out;
}

input[type="text"]:focus {
    border: 2px solid blue;
    box-shadow: 4px 4px rgba(0, 0, 255, 0.3);
    transition: all 0.5s ease-out;
}

/* 
    BUTTON
*/

.save-btn:hover {
    position: relative;
    background-color: #852aec;
    box-shadow: 4px 4px rgba(151, 22, 207, 0.3);
    bottom: 2px;
    transition: all 1s ease-in-out;
}

/* 
    PERCENTUALE
*/

.progress-fill::after {
    content: "65%";
    color: white;
    position: relative;
    bottom: 84%;
    left: 90%;
    font-size: 10px;

}

/* 
    FOOTER
*/

a[href="#home"] {
    background-color: #1b242e;
    color: blue;
}

a[href="#workouts"]:active {
    background-color: #1b242e;
    color: blue;
}

a[href="#progress"]:active {
    background-color: #1b242e;
    color: blue;
}

a[href="#profile"]:active {
    background-color: #1b242e;
    color: blue;
}

/* 
    VIRGOLETTE
*/

div.quote-box {
    position: relative;
}

div.quote-box>p::before {
    content: '"';
    font-size: 40px;
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    top: 0px;
    left: 0;
    translate: 70% 10%;
}

div.quote-box>p::after {
    content: '"';
    font-size: 40px;
    position: absolute;
    color: rgba(255, 255, 255, 0.4);
    bottom: 0;
    right: 95px;
}